.description {
	float:left;
	width:250px;
	margin:15px;
}
.box{
	margin:20px;
}

.floor-container{
	height: 60px;
	width: 200px;
	border-right: solid 1px grey;
}

.lifts-container{
	float:left;
}

.lift-shaft{
	border-right: solid 1px grey;
	width:60px;
	float:left;

}

.lift-shaft .lift{
	background-color:#000;
	color:#FFF;
	top:360px;
	height:60px;
	width:60px;
	position:relative;
	transition: all 1s ease;
}

.lift-shaft .lift.move1{
	top:540px;
}
.lift-shaft .lift.move2{
	top:480px;
}
.lift-shaft .lift.move3{
	top:420px;
}
.lift-shaft .lift.move4{
	top:360px;
}
.lift-shaft .lift.move5{
	top:300px;
}
.lift-shaft .lift.move6{
	top:240px;
}
.lift-shaft .lift.move7{
	top:180px;
}
.lift-shaft .lift.move8{
	top:120px;
}
.lift-shaft .lift.move9{
	top:60px;
}
.lift-shaft .lift.move10{
	top:0px;
}

